<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prk.santuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/deadminer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/deadminer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityImageProfile"/>
        <activity android:name=".ChatTask" />
        <activity android:name=".Chat_Info" />
        <activity android:name=".EditTask" />
        <activity android:name=".CreateTaskActivity" />
        <activity android:name=".NotFoundParterActivity" />
        <activity android:name=".ManageRewardsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".models.Chat" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ManageRewardActivity" />
        <activity android:name=".CreateProjectActivity" />
        <activity android:name=".ManageProjectActivity" />
        <activity android:name=".AddPartnerActivity" />
        <activity android:name=".AddPartnerByID" />
        <activity android:name=".AddPartnerByQR" />
        <activity android:name=".ShowQRActivity" />
        <activity android:name=".ProfileActivity" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />

            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".helper.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".helper.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_create_black_24dp" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>